<div class="row">
    <div class="col-md-12">
        <div class="settings-widget">
            <div class="settings-inner-blk p-0">
                <div class="sell-course-head comman-space">
                    <h3>Forum </h3>
                    <p>You have full control to manage your own account setting.</p>
                </div>
                <div class="comman-space pb-0">
                    <div class="instruct-search-blk mb-0">
                        <div class="show-filter all-select-blk">
                            <form action="#">
                                <div class="row gx-2 align-items-center">
                                    <div class="col-md-6 col-lg-3 col-item">
                                        <div class="form-group select-form mb-1">
                                            <mat-select class="form-select select"  [(value)]="selected">
                                                <mat-option value="1">All</mat-option>
                                                <mat-option value="r1">review 1</mat-option>
                                                <mat-option value="r2">review 2</mat-option>
                                                <mat-option value="r3">review 3</mat-option>
                                            </mat-select>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-3 col-item">
                                        <div class="form-group select-form mb-1">

                                            <mat-select class="form-select select"  [(value)]="selected2">
                                                <mat-option value="1">Rating</mat-option>
                                                <mat-option value="r1">5</mat-option>
                                                <mat-option value="r2">4</mat-option>
                                                <mat-option value="r3">3</mat-option>
                                            </mat-select>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-3 col-item">
                                        <div class="form-group select-form mb-1">
                                            <mat-select class="form-select select" [(value)]="selected3" (selectionChange)="sortBy()">
                                                <mat-option value="1">Sort</mat-option>
                                                <mat-option value="title">Sort by Title</mat-option>
                                                <mat-option value="nbLikes">Sort by Likes</mat-option>
                                                <mat-option value="dateCreated">Sort by Date</mat-option>
                                            </mat-select>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="comman-space bdr-bottom-line" *ngFor="let P of listPosts">
                    <div class="instruct-review-blk " >
                        <div class="review-item">
                            <h5 class="subs-title">{{P.title}}</h5>

                            <div class="instructor-wrap border-0 m-0">
                                <div class="about-instructor">
                                    <div class="abt-instructor-img">
                                        <a [routerLink]="routes.instructor_instructor_profile"><img src="assets/img/user/user1.jpg" alt="img" class="img-fluid"></a>
                                    </div>
                                    <div class="instructor-detail">
                                        <h5><a [routerLink]="routes.instructor_instructor_profile">{{P.title}}</a></h5>
                                        <p>UX/UI Designer</p>
                                    </div>
                                </div>
                                <li><img class="img-fluid" src="assets/img/icon/icon-22.svg" alt="">{{P.dateCreated}}</li>

                                <div class="rating">
                                    <i class="fas fa-thumbs-up filled me-1"></i>
                                    <span class="d-inline-block average-rating">{{P.nbLikes}} Likes</span>
                                </div>
                            </div>
                            <p class="rev-info">{{P.content}}</p>
                            <div class="add-article-btns " >
                            <a (click)="deletePost(P.idPost)" class="btn">Remove</a>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>